* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}


/* Colors */

:root {
    --white: #FFFFFF;
    --blue57: #1D3557;
    --lightBlue: #457B9D;
    --mainBg: #F1FAEE;
    --footerBg: #A8DADC;
}

/* Colors */




/* General Classes */

.flex { display: flex; }

.fw400 { font-weight: 400; }

.fw700 { font-weight: 700; }

/* General Classes */



/* *********************************** */

.container { 
    justify-content: center; 
    flex-direction: column;
    align-items: center;
}

.hero-img img { position: relative; }

.hero-title,
.hero-paragraph {
    position: absolute;
    color: var(--white);
    border-radius: 10px;
}

.hero-title { 
    top: 119px;
    background: var(--blue57);
    padding: 6px 12px;
    font-size: 3.2rem;
}

.hero-paragraph {
    top: 172px;
    background: var(--lightBlue);
    padding: 8px 29px;
    font-size: 1.8rem;
    width: 412px;
}

                                /* Main */
main {
    background-color: var(--mainBg);
    padding: 3.9em 3.4em 3.8em 3.4em;
    flex-direction: column;
    margin-bottom: 5em;
}

.main-title {
    font-size: 2.4rem;
    color: var(--blue57);
    margin-bottom: 2.25em;
}

.blogs { gap: 29px; }

.blog {
    flex-direction: column;
    width: 198px;
    text-align: center;
    align-items: center;
}

.blog-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 2.2em;
}

.blog-title {
    font-size: 1.6rem;
    margin-bottom: 1.06em;
    color: var(--blue57);
}

.blog-paragraph {
    font-size: 1.6rem;
    color: var(--blue57);
}


footer {
    padding: 2.3em 1.1em 2.2em 1.3em;
    background-color: var(--footerBg);
    box-shadow: 0px 6px 0px 0px var(--blue57); 
    border-radius: 10px;
    margin-bottom: 5em;
    align-items: center;
    gap:  0.4375em;
}

.info {
    flex-direction: column;
    align-items: center;
}

.footer-title {
    font-size: 2.4rem;
    margin-bottom: 0.59em;
    color: var(--blue57);
}

.footer-paragraph {
    font-size: 1.6rem;
    font-style: italic;
    color: var(--blue57);
    width: 189px;
    text-align: center;
    margin-bottom: 1.625em;
}

.author {
    font-size: 1.6rem;
    color: var(--blue57);
}



